.dropParent {
    width: 127px;
    /* height: 92px; */
    position: absolute;
    top: -4%;
    padding-block: 0 !important;
}

.dropParent > div {
    padding-block: 0;
}

.dropdownBtn {
    background-color: transparent;
    border: none !important;
}

.dropdownElem {
    position: absolute;
    left: 12%;
    top: 22%;
    border-radius: 12px;
    background-color: #FECAAD;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.dropdownElem > ul {
    padding-left: 45px;
    padding-right: 8px;
    /* padding-block: 10px; */
    margin: 0;
}

.dropdownElem > ul > li {
    list-style: none;
    color: #000;
    text-align: right;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .dropdownElem_li {
    padding-bottom: 10px;
} */

.hide {
    display: none;
}