.categoryText {
    width: 100%;
    text-align: left;
}

.fileSpan {
    color: #000;
    text-align: right;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}