/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

.category_bg_form {
    background: linear-gradient(212deg, #FECAAD -0.49%, #FFF8F5 100%);
    height: 100% !important;
}

.categoryCard {
    border-radius: 35px;
    border: 1px solid #FECAAD;
    box-shadow: 0px 0px 2px 1px rgba(254, 202, 173, 0.35);
    height: 70vh;
    overflow-y: scroll !important;
}

.categoryContainer {
    width: 100%;
    height: fit-content !important;

}

.category_formHeading {
    font-size: 20px;
}

.category_bgCardImg {
    background-image: url("../../assets/images/cardBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 31%;
    height: 100%;
    padding-right: 80px;
}

.datePicker {
    border-radius: 10px;
    border: 1px solid #FECAAD;
    background: #FFF;
    box-shadow: 0px 0px 2px 1px rgba(254, 202, 173, 0.75);
    cursor: pointer;
    width: 100% !important;
}

.datePicker::-webkit-inner-spin-button,
.datePicker::-webkit-calendar-picker-indicator {
    margin: 0;
    opacity: 0;
    font-size: 35px;
    position: absolute;
    left: 3.5%;
    cursor: pointer;
}

.custom-date-input {
    position: relative;
}

.custom-date-input::before {
    content: url("../../assets/images/calendar.png");
    position: absolute;
    left: 8%;
    top: -45px;
    pointer-events: none !important;
}

.datePickerLabel {
    font-size: 18px;
}

.textArea {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #FECAAD;
    background: #FFF;
    box-shadow: 0px 0px 2px 1px rgba(254, 202, 173, 0.75);
    resize: none;
    text-align: end !important;
}

.textArea:focus-visible,
.fileName:focus-visible,
.txt {
    outline: none;
}

.fileName,
.txt {
    border-radius: 10px;
    border: 1px solid #FECAAD;
    background: #FFF;
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(254, 202, 173, 0.75);
    cursor: pointer;
}

.txt {
    cursor: text;
    text-align: end;
}

.txtAreaLabel {
    font-size: 18px !important;
    font-weight: 600;
}

.fileName {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setImg{
    padding-block: 120px !important;
}

.formBtn_1,
.formBtn_2,
.changeBtn {
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #8F8F8F;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.formBtn_1,
.changeBtn {
    background: linear-gradient(90deg, #FECDB3 0%, #FBE2D4 100%) !important;
    color: #000 !important;
}
.changeBtn{
    margin-left: 15% !important;
}
/* .approvalBtn{
    color: #000;
    background: linear-gradient(90deg, #FECDB3 0%, #FBE2D4 100%) !important;
    color: #000 !important;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-inline: 15px;
} */
.formBtn_2{
    border: 1px solid #FECAAD;
    box-shadow: 0px 0px 2px 1px rgba(254, 202, 173, 0.75);
    padding-inline: 35px !important;
}
.formBtn_1:hover,
.formBtn_2:hover,
.changeBtn:hover {
    background: none !important;
    background-color: #000 !important;
    color: #FFFFFF !important;
    transform: translateY(0) scale(0.9) !important;
}

/* .approvalBtn:hover{
    color: #fff;
} */

.categoryCard::-webkit-scrollbar {
    display: none;
}

.categoryCard {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.approvalIcon{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 800 !important;
}

    /* ------------ Select field CSS ------------ */

.social_selectOptions {
    border: 1px solid #FECAAD;
    border-radius: 11px;
    cursor: pointer;
    /* width: 88.5%; */
    box-shadow: 0px 0px 2px 1px rgba(254, 202, 173, 0.75);
}

.social_selectOptions>option {
    font-weight: 600;
    /* background-color: #FECAAD; */
    border-radius: 11px !important;
    background-color: #FECAAD ;
    box-shadow: 0px 0px 2px 1px rgba(254, 202, 173, 0.75);
}

.social_selectOptions:focus-visible {
    outline: none;
}

.category_formHeading {
    font-size: 20px;
}